@import "breakpoints";
@import "core";
@import "typography";
@import "article";
@import "section_column";
@import "section_grid";
@import "card";
@import "btn";
@import "footer";


.truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

