@import "breakpoints";
@import "core";
@import "typography";
@import "article";
@import "section_column";
@import "section_grid";
@import "card";
@import "btn";
@import "footer";


.truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.ui{

  display: flex;
  align-items: center;
  justify-content: center;

  input{
    padding: 1em;
    width: 360px;
    background-color: var(--meteor_light);
    border: none;
    color: var(--white);
    font-size: 130%;
    
  }

  ::placeholder { color: var(--purple); }

}
