@import "breakpoints";
@import "core";
@import "typography";
@import "article";
@import "section_column";
@import "section_grid";
@import "card";
@import "btn";
@import "footer";
@import "gitcoindao";
@import "ui";

.truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// visualy highlight results
.highlight{
  padding: 0.3em 1em;
  border:2px solid var(--purple);
  border-radius: 10px;
  display: inline-block;
  animation: blink-animation 700ms infinite;
}

#health.highlight{
  border: none;
  padding: 0em;
  border-radius: 0px;
  animation: none;
}


@keyframes blink-animation {
  0% {
    border:2px solid var(--purple);
  }
  50% {
    border:2px solid var(--teal);
  }
  100% {
    border:2px solid var(--purple);
  }
}


