.card{
	background: var(--meteor_light);
	border-radius: 1em;
}

	

/* HEAD */
.card .head{

	display: grid;
	grid-template-columns: 1fr 3fr 1.1fr;
	grid-gap: 1em;

	align-items: center;
	justify-content: center;

	figure{
		img{
			border-radius: 1em;
		}
	}

	.user{
		
		.name{
			font-weight: 800;
		}

		.gitcoinhandle{
			a{
				color: var(--teal);
				text-decoration: none;
				&:hover{
					color: var(--teal);
				}
			}
		}
	}

	.health{
		margin-right: 1em;
	}

}


/* CONTENT */
.card .content{

	margin-top:1em;

	.row{
		display: grid;
		grid-template-columns: 40px 1fr 1fr;
		grid-gap: 1em;
		align-items: center;
		justify-content: center;
		padding: 0.5em 1em;
	}

	.icon{

	}

	.property{
		a{
			color: var(--light_grey);
			text-decoration: none;
			&:hover{
				color: var(--white);
			}
		}
	}

	.value{
		text-align:right;
		.percentage{
			&:after { content: "%"; }
		}
		a{
			text-decoration: none;
		}
	}

}


/* BUTTONS */
.card .buttons{

	margin-top: .5em;
	padding: 1em;

	display: flex;
	justify-content: space-between;

	
}







