:root {
    --meteor: #291555;
    --meteor_light: #321E5E;

    --white: #FFF;

    --grey: #9388AA;
    --light_grey: #D1C9E3;

    --purple: #BE59CF;
    --teal: #42C8B0;
    --teal: #42C8B0;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img{
    display: block;
    width: 100%;
}


body{
    background-color: var(--meteor);
    color : var(--light_grey);
}

html{
    scroll-behavior: smooth;
}

