footer{

	display:flex;
	gap: 2em;
	text-align: center;
	margin:4em 0em;
	align-items: center;
	justify-content: center;

	.mmm{ height: 60px; }
	.gitcoin{ height: 80px; }

}


@media #{$tablet} { 

  footer{
		.mmm{ height: 50px; }
		.gitcoin{ height: 70px; }
  }
}



@media #{$phone} { 

  footer{
		.mmm{ height: 40px; }
		.gitcoin{ height: 60px; }
  }
}


