section#gitcoindao{

	display:flex;

	margin-top:4em;
	align-items: center;
	justify-content: center;

	a{
		text-decoration: none;
	}


	.wrapper{
		display:flex;
		align-items: center;
		justify-content: center;
		gap: 1em;


		svg{
			width: 28px;
			* { fill: var(--light_grey); }
		}

		&:hover{
			svg{ * { fill: var(--white); } }
		}

	}

}


