section#gitcoindao{

	display:flex;

	margin:4em 0em;
	align-items: center;
	justify-content: center;

	a{
		text-decoration: none;
	}


	.wrapper{
		display:flex;
		align-items: center;
		justify-content: center;
		gap: 1em;


		svg{
			width: 28px;
			* { fill: var(--light_grey); }
		}

		&:hover{
			svg{ * { fill: var(--white); } }
		}

	}

}


@media #{$tablet} { 
	section#gitcoindao a .wrapper svg{
		width: 24px;
	}
}


@media #{$phone} { 
	section#gitcoindao a .wrapper svg{
		width: 20px;
	}
}
