section.column{
	margin: auto;
	padding: 0em 4em;
	max-width: 1600px;

	&.center{
		text-align: center;
	}

}


@media #{$tablet} { 
	section.column{
		padding: 0em 3em;
	}
}


@media #{$phone} { 
	section.column{
		padding: 0em 1.5em;
	}
}
