section.grid {

  display: grid;
  grid-gap: 2em;
  margin: 0em 2em;
  margin-top:4em;
  margin-bottom:4em;

}



@media #{$desktop} {
    section.grid{ 
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media #{$laptop} {
    section.grid{ 
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media #{$tablet} { 
    section.grid{ 
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media #{$phone} { 
    section.grid{ 
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
