html{
    font-family: 'Poppins', sans-serif;
    font-size:100%;
    line-height: 1.6em;
    font-weight: 300;

    font-kerning: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    color: var(--black);   
}




h1{
    font-family: 'Space Mono', monospace;
	font-size: 180%;
    line-height: 1.6em;
    font-weight: 500;
    margin-bottom: 2rem;
    color: var(--blue);
}

p{
    font-size: 100%;
    font-weight: 400;
    margin-bottom: 2rem; 
}

a{
	text-decoration: underline;
    color: var(--light_grey);
	&:hover{
		  color: var(--white);
	};
}




@media #{$desktop} {
    html{ 
        font-size:120%;
    }
}

@media #{$laptop} {
    html{ 
        font-size: 110%; 
    }
}

@media #{$tablet} { 
    html{  
        font-size: 100%;
    }
}

@media #{$phone} { 
    html{
        font-size: 90%;
    }
    h1{
        font-size: 180%;
    }
}


