.ui{

  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 0em 2em;
  gap: 1em;

  .input-wrapper{
    padding:1em;
    background-color: var(--meteor_light);
    width: 100%;
    border-radius: 6px;
  }

  input, select{
    width: 100%;
    border: none;
    color: var(--white);
    font-size: 130%;
    background-color: transparent;

    &:focus { outline: none; }
  }

  label{
    font-size: 100%;
    color: var(--purple);
    margin-bottom: 0.5em;
    display: block;
  }

  ::placeholder { color: var(--grey); }

}



@media #{$phone} { 
  .ui{
    grid-template-columns: 1fr;
  }
}

